NET "IN_Port[0]" LOC = P35;
NET "IN_Port[1]" LOC = P34;
NET "IN_Port[2]" LOC = P33;
NET "IN_Port[3]" LOC = P32;
NET "IN_Port[4]" LOC = P30;
NET "IN_Port[5]" LOC = P29;
NET "IN_Port[6]" LOC = P27;
NET "IN_Port[7]" LOC = P26;
NET "IN_Port[8]" LOC = P24;
NET "IN_Port[9]" LOC = P23;
NET "IN_Port[10]" LOC = P22;
NET "IN_Port[11]" LOC = P21;
NET "IN_Port[12]" LOC = P17;
NET "IN_Port[13]" LOC = P16;
NET "IN_Port[14]" LOC = P15;
NET "IN_Port[15]" LOC = P14;
NET "IN_Port[16]" LOC = P12;
NET "IN_Port[17]" LOC = P11;
NET "IN_Port[18]" LOC = P10;
NET "IN_Port[19]" LOC = P9;
NET "IN_Port[20]" LOC = P8;
NET "IN_Port[21]" LOC = P7;
NET "IN_Port[22]" LOC = P6;
NET "IN_Port[23]" LOC = P5;
NET "IN_Port[24]" LOC = P2;
NET "IN_Port[25]" LOC = P1;
NET "IN_Port[26]" LOC = P142;
NET "IN_Port[27]" LOC = P141;
NET "IN_Port[28]" LOC = P140;
NET "IN_Port[29]" LOC = P139;
NET "IN_Port[30]" LOC = P138;
NET "IN_Port[31]" LOC = P137;
NET "reset" LOC 		= P134; # res
NET "clk" LOC = P124 |CLOCK_DEDICATED_ROUTE; # ociellator
#####################################################################
NET "OUT_Port[0]" LOC = P43;
NET "OUT_Port[1]" LOC = P44;
NET "OUT_Port[2]" LOC = P45;
NET "OUT_Port[3]" LOC = P46;
NET "OUT_Port[4]" LOC = P47;
NET "OUT_Port[5]" LOC = P48;
NET "OUT_Port[6]" LOC = P50;
NET "OUT_Port[7]" LOC = P51;
NET "OUT_Port[8]" LOC = P55;
NET "OUT_Port[9]" LOC = P56;
NET "OUT_Port[10]" LOC = P74;
NET "OUT_Port[11]" LOC = P75;
NET "OUT_Port[12]" LOC = P78;
NET "OUT_Port[13]" LOC = P79;
NET "OUT_Port[14]" LOC = P80;
NET "OUT_Port[15]" LOC = P81;
NET "OUT_Port[16]" LOC = P82;
NET "OUT_Port[17]" LOC = P83;
NET "OUT_Port[18]" LOC = P84;
NET "OUT_Port[19]" LOC = P85;
NET "OUT_Port[20]" LOC = P87;
NET "OUT_Port[21]" LOC = P88;
NET "OUT_Port[22]" LOC = P92;
NET "OUT_Port[23]" LOC = P93;
NET "OUT_Port[24]" LOC = P94;
NET "OUT_Port[25]" LOC = P95;
NET "OUT_Port[26]" LOC = P97;
NET "OUT_Port[27]" LOC = P98;
NET "OUT_Port[28]" LOC = P99;
NET "OUT_Port[29]" LOC = P100;
NET "OUT_Port[30]" LOC = P101;
NET "OUT_Port[31]" LOC = P102;
#########################################################################
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 40 ns High 50%;